.user-card {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.user-link {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.user-link:hover {
    color: #5c5c5c;
}

.user-avatar {
    width: 370px;
}


